.tab {
  border: 1px solid transparent;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #ccc;
  color: black;
}

.tab--selected {
  color: #ccc;
  background-color: #242424;
  border: 2px solid #646cff;
  border-bottom: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
  position: relative;
  margin-bottom: -2px;
  z-index: 10;
}
